body {
    font-family: 'Poppins', sans-serif;
    color: var(--c-black);
}
section {
    margin-bottom: 1.5rem;
}

.container {
    flex: 0 0 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.row {
    padding-right: .5rem;
    padding-left: .5rem;
}

.col {
    margin-right: .5rem;
    margin-left: .5rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

h3 {
    font-weight: 600;
    font-size: 1rem;
}

a {
    color: var(--o-link-font-color);
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.list-container {
    display: flex;
    flex-wrap: wrap;

    @include md {
        margin: 0 -1rem;
    }
}