.category {
    @include button-large;

    &:not(:last-child) {
        margin-right: 1rem;
    }

    &-container {
        display: flex;
        overflow: scroll;
        padding-left: 1.5rem;
    }
}