.recipe {
    background-color: var(--c-white);
    min-height: 8rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    box-shadow: var(--e-elevation-1);
    transition: all ease-in-out .3s;

    @include md {
        flex-direction: column;
    }

    &:hover {
        box-shadow: var(--e-elevation-1-hover);
        transform: scale(1.05);
    }

    &-container {
        flex: 0 0 100%;

        @include sm {
            flex: 0 0 50%;
            padding: 0 1rem;
        }

        @include md {
            flex: 0 0 33.33%;
        }

        @include lg {
            flex: 0 0 33.33%;
        }

        @include xl {
            flex: 0 0 25%;
        }
        
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &-image {
        flex: 0 0 40%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: .5rem;

        @include md {
            flex: auto;
            height: 10rem;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1rem;
        flex: 0 0 60%;

        @include md {
            padding-left: 0;
            padding-top: 1rem;
        }

        &-header {
            margin-bottom: 1rem;
        }
    }

    &-time {
        color: var(--f-info-color);
        display: flex;
        align-items: baseline;
        font-size: .75rem;

        i {
            margin-right: .25rem;
        }
    }

    &-title {
        color: var(--f-text-color);
    }
}