.tag {
    margin-right: .25rem;
    font-size: .75rem;
    text-transform: capitalize;
    color: var(--o-tag-font-color);
    font-weight: 500;

    &::before {
        content: "#";
    }

    &-container {
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
    }
}