//button
@mixin button {
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c-white);
    background-color: var(--o-tag-background-color);

    &:hover {
        background-color: var(--o-tag-hover-background-color);
    }

    &:active {
        background-color: var(--o-tag-tap-background-color);
    }
}

@mixin button-small {
    @include button;
    padding: .25rem .5rem;
    font-size: 0.75rem;
}

@mixin button-large {
    @include button;
    padding: 1rem 1.5rem;
}

//breakpoints
// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }