// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

:root {
    //Colors
    --c-white: #fff;
    --c-gray-50: #f8f8f8;
    --c-gray-100: #f0f0f0;
    --c-gray-200: #e4e4e4;
    --c-gray-300: #d1d1d1;
    --c-gray-400: #b4b4b4;
    --c-gray-500: #9a9a9a;
    --c-gray-600: #8d8d8d;
    --c-gray-700: #6a6a6a;
    --c-gray-800: #5a5a5a;
    --c-gray-900: #4e4e4e;
    --c-gray-950: #282828;
    --c-black: #0F0013;

    --c-pastel-green-50: #f2fdf0;
    --c-pastel-green-100: #dffcdc;
    --c-pastel-green-200: #c2f6bc;
    --c-pastel-green-300: #8fee87;
    --c-pastel-green-400: #73e26a;
    --c-pastel-green-500: #2fc324;
    --c-pastel-green-600: #22a118;
    --c-pastel-green-700: #1d7f16;
    --c-pastel-green-800: #1c6417;
    --c-pastel-green-900: #185215;
    --c-pastel-green-950: #072d06;

    //Elevation
    --e-elevation-1: 0px 0.8px 2.2px rgba(0, 0, 0, 0.02),
        0px 2px 5.3px rgba(0, 0, 0, 0.028),
        0px 3.8px 10px rgba(0, 0, 0, 0.035),
        0px 6.7px 17.9px rgba(0, 0, 0, 0.042),
        0px 12.5px 33.4px rgba(0, 0, 0, 0.05),
        0px 30px 80px rgba(0, 0, 0, 0.07);
    --e-elevation-1-hover: 0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
        0px 4px 5.3px rgba(0, 0, 0, 0.028),
        0px 7.5px 10px rgba(0, 0, 0, 0.035),
        0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
        0px 25.1px 33.4px rgba(0, 0, 0, 0.05),
        0px 60px 80px rgba(0, 0, 0, 0.07);

    //Font
    --f-text-color: var(--c-black);
    --f-info-color: var(--c-gray-600);
    
    //Object
    --o-link-font-color: var(--c-pastel-green-400);
    --o-tag-font-color: var(--c-pastel-green-400);
}